@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}







* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
    






.row {
    width: 58.3%;
    margin: 0px auto;
}
.galerie img {
width: 430px;
    height: 300px;
    object-fit: cover;
    margin: 20px 20px;
    box-shadow: 10px 13px 20px #525252;
    border-radius: 10px;
    
}
.galerie img:hover {
   
    transition: 0.2s;
    transform: scale(0.95);
    border: 4px solid #0582CA;
  
}
.galerie {
    text-align: center;
    
}
.nadpis {
    font-size: 25px;
    text-align: center;
    margin: 40px 0px 60px 0px;
    font-family: Rubik, sans-serif;
}
.nadpis-2 {
    
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    
}
.nadpis-2:hover {
border-bottom: 2px solid black;
padding-bottom: 5px;
    transition: 0.2s;
    
}
nav ul li {
    width: 145px;
    list-style-type:none;
    float: right;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    
}
nav ul li a {
text-decoration: none;
    color: #000000;
    font-family: "Rubik", sans-serif;
    font-size: 27px;
    
    
}
nav ul li a:hover {
    border-bottom: 3px solid #0582CA;
    padding-bottom: 2px;
    transition: 0.2s;
}
nav ul {
    width: 58%;
    margin: 20px auto;
    
    position: fixed;
    margin-left: 20%;
    z-index: 1;
    
    


}
.clearfix::after {
    content: "";
  clear: both;
  display: table;
}
.vitejte {
    color: #0582CA;
}
.text {
    font-family: Rubik;
    
    font-size: 23px;
    text-align: justify;
    
}
.imgtxt {
    width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
    margin-bottom: 0px;
    
}
.copywrite {
    font-family: Rubik;
    font-size: 18px;
    color: black;
    width: 200px;
    margin: 20px auto 20px auto;
    
} 
@media only screen and (max-width: 1025px) {
    
    .text {
        text-align:left;
    }
    
    
    
    .nav-background {
       
    }
    
    nav ul {
    display: none;
      
        width: 200px;
    }
    
    nav ul li a {
        display: block;
        
    }   
    .mobile-nav-back {
        height: 180px;
        position: fixed;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-bottom: 3px solid #0582CA;
      display: none;
       
    }
    .mobile-nav-icon {
         z-index: 200;
        display: inline-block;
        position: fixed;
      right: 2%;
        
       
    }
}

@media only screen and (max-width: 1125px) {
    .nav ul {
        width: 500px;
    list-style-type:none;
    float: left;
    text-align: center;
    line-height: 50px;
    margin: 0px auto
        
    }
    .galerie img {
     width: 100.25%;
    height: 21.8%;
    object-fit: cover;
    margin: 20px auto;
    
    box-shadow: 10px 13px 20px #525252;
    border-radius: 10px;   
    }
    .copywrite {
        text-align: center;
    }
}
@media only screen and (max-width: 620px) {
    .text {
        
        width: 75%;
     
    }
    .text-uprostred {
      width: 75%;
       
    }
    .ig {
      margin-left 10px;  
      
    }
    .podnadpis {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  
    font-family: Rubik; 
   
}
    .imgtxt {
        width: 70%;
    }
   


}
.logo {
    font-size: 30px;
    font-family: century gothic;
    text-decoration: none;
    color: #000;
    font-family: century gothic;
    
}
.kurziva {
    font-style: italic;
    text-align: justify-all;
    font-weight: 500;
}
.odkaz {
    
    color: #0582ca;
}
.ig {
    
    overflow: hidden;
    width: 46px;
    height: 46px;
   
    
}



.podnadpis p {
    font-size: 20px;
    font-weight: 600;
    
    font-family: Rubik;
 
   
    font-size: 27px;
}
.podnadpis p:after {
    content: "";
    display: block;
    width: 300px;
    text-align: center;
    
    
    
}


.text-uprostred {
    text-align: center;
    font-family: Rubik ;
    font-size: 23px;
   
}
.google-map {
     padding-bottom: 25%;
     position: relative;
    margin-top: 50px;
  

        
    
}

.google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
    
    
}
.button {
    text-align: center;
    font-family: Rubik ;
    font-size: 23px;
    border: 0px solid #0582CA;
    width: 260px;
    margin: 0px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #0582CA;
    border-radius: 20px
}
.button:hover {
    background-color: #00649d;
    transition: 0.2s
}
.button a {
    text-decoration: none;
    color: white;
    
}
.podklad {
   color: red;
}
footer {
 background-color: #ffffff;
    
    
    height: 200px;
}
.fotogalerie {
    margin-bottom: 20px;
}
.fotogalerie-main h1 {
   
    text-align: center;
    font-family: Rubik;
     margin-bottom: 40px;
    /* border-top: 5px solid #0582CA;*/
    font-size: 40px;
    padding-top: 40px;
   
    
}
.fotogalerie-main h1:after {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 4px solid #0582CA;
    margin: 10px auto;
    
}
.kontakt {
    margin-bottom: 40px;
}
.onas {
    margin-bottom: 80px;
    

 
   
    
}
.nav-background {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    border-bottom: 3px solid #0582CA;

}
.BJB {
    margin-top: 130px;
   
}

.mobile-nav-icon {
    float: right;
    width: 50px;
   margin-top: 15px;
   

    
}
.loga {
    width: 50px;
    height: 50px;
}